[submodule "deps/inspect"]
	path = deps/inspect
	url = https://github.com/kikito/inspect.lua.git
[submodule "deps/lua-cjson"]
	path = deps/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "deps/lua-resty-core"]
	path = deps/lua-resty-core
	url = https://github.com/openresty/lua-resty-core.git
[submodule "deps/lua-resty-lrucache"]
	path = deps/lua-resty-lrucache
	url = https://github.com/openresty/lua-resty-lrucache.git
[submodule "deps/lua-resty-mysql"]
	path = deps/lua-resty-mysql
	url = https://github.com/openresty/lua-resty-mysql.git
